.fixed-test {
  position: fixed;
  z-index: 6;
}
.heading {
  font-size: 54px;
  font-weight: 600;
}
.title-bar {
  border-bottom: 2px solid #0cb9f2;
  width: 80px;
  margin-top: -8px;
  margin-bottom: 15px;
}
.p-light {
  font-size: 1.43vw;
  font-weight: 100;
}
.p-light span {
  color: #a8a7a7;
}
#one {
  padding: 0px 5px 0px 5px;
}
#two {
  padding: 0px 5px 0px 5px;
}
.rating {
  margin-bottom: 40px;
}
.checked {
  color: orange;
}
#seanson_div .current {
  border: none;
}
#mainmenu .current {
  border: none;
}
.current {
  color: #0cb9f2;
  border: 3px solid #0cb9f2;
}
.singlepart-text {
  font-size: 31px;
  text-transform: none;
  padding-left: 25px;
  vertical-align: middle !important;
  /* position: absolute; */
}
.right-scroll {
  right: 0;
  position: absolute;
}

.list-box-select {
  background-color: transparent;
  float: left;
  width: 98%;
  margin-bottom: 30px;
  overflow: hidden;
}
.episode_img {
  width: 415px;
  height: 261px;
}
.list-img-select {
  float: left;
  width: 35%;
}
.border-inside {
  border: 3px solid #4b4b4b;
  border-radius: 0px;
}
.list-text-select {
  width: 65%;
  padding: 0 10px;
  float: left;
}
.heading2 {
  font-size: 45px;
}
.title-bar3 {
  border-bottom: 2px solid #0cb9f2;
  width: 50px;
  margin-top: -10px;
  margin-bottom: 15px;
}
p {
  font-size: 25px;
  margin-bottom: 15px;
  line-height: 1.4;
}
.custom-msg {
  display: none;
  position: fixed;
  top: 85%;
  left: 50%;
  width: 50%;
  line-height: 1em;
  margin: auto;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-align: center;
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.list-img-select {
  position: relative;
}
.dtls {
  position: absolute;
  bottom: -3%;
  left: 4%;
}
.dtls p {
  font-size: 36px;
}
#episodelistimageload .list-img-select:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/episode_image_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
