.background {
    background: url(../../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.center-div {
    height: 100vh;
    position: relative;
}
.center-div-content {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.form-control {
    height: calc((1.5em + 0.75rem) + 2px);
    font-size: 32px;
    font-weight: 300;
    color: rgb(230, 230, 230);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 30px 25px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(12, 185, 242);
    border-image: initial;
    border-radius: 0.45rem;
}
.btn-primary {
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 32px;
    text-transform: none;
    border-color: grey;
    padding: 7px;
    border-radius: 8px;
}
.current{
	background: #0cb9f2;
}
#loginsec .current{
    background: #ffffff;
    color: #000;
    font-weight: 600;
}
.custom-msg-forgotpassword {
    display: none;
    position:fixed;	
	top:90%;
	left:50%;
    width: 50%;
	line-height: 1em;
	margin: auto;	
	transform: translate(-50%, -50%);
	font-size:2em;
	text-align: center;
	
}

