body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

/* body:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../../images/home_page_overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 1px;
    bottom: 0;
} */

.overlaymultipart {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/categories-bg.png);
}

.image-container-singlepart {
  /* background-attachment: scroll; */
  /* background: url(../images/categories-bg.png); */
  /* max-width: 100% !important; */
  /* background-position: left top; */
  /* background-repeat: no-repeat; */
  background-size: contain;
  height: 1081px;
}

.heading {
  font-size: 54px;
  font-weight: 600;
}

.title-bar {
  border-bottom: 2px solid #0cb9f2;
  width: 80px;
  margin-top: -8px;
  margin-bottom: 15px;
}

.text-muted {
  color: #c4c7ca !important;
}

.p-light {
  font-size: 1.43vw;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-light span {
  color: #eaeaea;
  font-size: 20px;
  font-weight: 600;
}

#one {
  padding: 0px 5px 0px 5px;
}

#two {
  padding: 0px 5px 0px 5px;
}

p {
  font-size: 25px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.underline {
  text-decoration: underline !important;
}

.font-28 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

.cast-img {
  width: auto;
  height: 96px;
  float: left;
  margin-right: 30px;
}

.cast-img img {
  border: 2px solid #0cb9f2;
  border-radius: 50%;
}

.singlepart-text {
  font-size: 31px;
  text-transform: none;
  padding-left: 25px;
  position: absolute;
  padding-top: 5px;
}

.custom-msg {
  display: none;
  position: fixed;
  top: 97%;
  left: 50%;
  width: 50%;
  line-height: 1em;
  margin: auto;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-align: center;
}

#cast_image .current {
  border: 4px solid #00c0ff !important;
}

.modal-content {
  background: #313b40;
  border-radius: 0;
  z-index: 99999;
  padding-bottom: 25px;
}

.modal-dialog {
  max-width: 80%;
  margin: 1.75rem auto;
}

.modal-header {
  background: #2d3539;
  padding: 15px 15px;
  border-bottom: 0px solid #dee2e6;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cast-img {
  width: auto;
  height: 96px;
  float: left;
  margin-left: -16px;
}

.cast-img img {
  border: 2px solid #0cb9f2;
  border-radius: 50%;
  margin-left: 15px;
}

.heading2 {
  font-size: 45px;
}

.title-bar {
  border-bottom: 2px solid #0cb9f2;
  width: 80px;
  margin-top: -8px;
  margin-bottom: 15px;
}

.text-muted {
  color: #c4c7ca !important;
}

.p-light {
  font-size: 1.5em;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-body {
  color: #bebebe;
  height: 600px;
  overflow: auto;
}

.current {
  color: #00c0ff !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.cus-padding {
  padding-left: 2px;
}

#modalsummary.current {
  color: #fff !important;
  text-align: justify;
}

.loader {
  top: 40% !important;
}

.image-container-singlepart {
  width: 100%;
}

.after {
  width: 100%;
}

.homepagecontent_div {
  padding: 0;
}

.homepagecontent_div {
  width: 100%;
  float: left;
  display: inline-flex;
  overflow: hidden;
}

.cus-langdiv {
  background: #24323b;
  padding: 0px;
  margin: 11px 22px;
}

.cutom-card {
  width: 100%;
  height: 11em;
  overflow: hidden;
  border-radius: 0px;
}

.aftrebg {
  position: relative;
  flex: 1 1 auto;
  padding: 0;
}

.aftrebg .see-more {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  left: 0;
  /* right: 0px; */
  bottom: 14px;
  top: 50%;
  text-align: center;
  margin: 0;
  height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  z-index: 99;
}

.cutom-cardbody {
  position: relative;
  flex: 1 1 auto;
  padding: 0;
}

.cutom-cardbody:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../../images/content_list_overlay.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
}

/* .homepagecontent_div .cutom-cardbody img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
} */

.see-more {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  left: 16px;
  right: 0px;
  bottom: 14px;
  top: initial;
  text-align: left;
  margin: 0;
  height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 54%;
  z-index: 99;
}

.homepagecontent_div .col-lg-2.current {
  box-shadow: 0px 0px 8px 3px rgba(5, 203, 234, 0.64);
  /* transform: scale(1.1); */
  z-index: 9999;
  /* border: 4px solid rgba(5, 203, 234, 0.64); */
}

.cus-langdiv {
  background: #24323b;
  padding: 0px;
  margin: 11px 22px;
  border-radius: 0px;
}
