body {
  background-color: #1d2a30;
  background-image: url(../images/background.png);
  background-size: cover;
}
.preloginlogo {
  text-align: center;
  position: relative;
  top: 40%;
}
.preloginlogo img {
  height: 418px;
  margin-bottom: 82px;
}
.btnstyle {
  font-size: 58px;
  padding: 0.5em 1.7em;
  color: white;
  margin: 0 15px;
  overflow: hidden;
  border: 1px solid #0cb9f2;
  background: transparent;
  text-overflow: ellipsis;
}
.mt-custom {
  margin-top: 15em;
}
.current {
  background: #0cb9f2;
}
