.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.menufortab {
}

.profile-tab {
  text-align: center;
  margin: 6em 0;
}

.profileul {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.profileul li {
  text-decoration: none;
  padding: 21px 34px;
  font-size: 34px;
  margin: 0 14px;
  background: #ffffff;
  color: #000;
  border-radius: 10px;
}

.border-left-profile {
  height: 85%;
  background: #384144;
  width: 2px;
  position: absolute;
  left: -7em;
  top: 2em;
}

.profile-title {
  font-size: 31px;
  margin-bottom: 16px;
}

.form-control {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 30px 25px;
  font-size: 32px;
  font-weight: 300;
  color: #e6e6e6;
  background-color: rgba(255, 255, 255, 0.25);
  border: 0px solid #0cb9f2;
  border-radius: 0.45rem;
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: grey;
  padding: 7px;
  font-size: 32px;
  border-radius: 8px;
  text-transform: none;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #646a6d;
}

.btncancelcl {
  background: transparent;
  border: 1px solid grey;
  padding: 4px 2em !important;
  color: #fff;
  background-color: transparent;
  border-color: grey;
  padding: 7px;
  font-size: 25px;
  border-radius: 8px;
  text-transform: none;
  width: 331px;
  float: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.logoimage {
  padding: 4px;
  width: 342px;
  height: auto;
  margin: 6% 18%;
  /* box-shadow: 0px 0px 0px 2px #383d41; */
}

.plan-tab {
  /* background: rgba(233, 239, 235, 0.43); */
  width: 69%;
  /* height: 250px; */
  margin: 0 auto;
  border-radius: 29px;
}

.my-subscription {
  border-radius: 6px;
  padding: 40px 60px;
  background-color: rgba(47, 67, 76, 0.5);
  text-align: center;
  margin-top: 80px;
}

.pricing2 {
  font-size: 73px;
  font-weight: 600;
  padding: 48px 0px 11px 0px;
}

.months2 {
  font-size: 33px;
  font-weight: 400;
  padding: 25px 0 20px;
}

.current-plan {
  font-size: 35px;
  /* text-decoration: underline; */
  color: #fff;
  padding: 16px 0;
  /* margin-bottom: 27px; */
  /*border-bottom: 1px solid #e9ecef;*/
  /* width: 201px; */
  /* margin-left: 55px; */
  /* margin-top: 15px; */
}

.plan-name {
  color: #fff;
  text-transform: none;
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 30px;
  padding-top: 23px;
}

.hd {
  color: #0cb9f2;
  font-size: 35px;
  text-transform: none;
  font-weight: 400;
}

.iconsec {
}

.iconsec i {
  font-size: 100px;
  background: #0cb9f2;
  border-radius: 50%;
  padding: 20px;
}

.title-bar {
  background: #0cb9f2;
  height: 5px;
  width: 89px;
  margin: 0 auto;
}

.profileul li.current {
  background: #0cb9f2;
  color: #fff;
  font-weight: 600;
}

/* .profileul li:hover {
  background: #0cb9f2;
  color: #fff;
  font-weight: 600;
} */

.language-tab .lang-hdr {
  text-align: center;
  width: 100%;
  float: left;
  /* margin-top: 0%; */
  margin-bottom: 4%;
}

.language-tab .lang-hdr h2 {
  font-size: 4em;
}

.language-tab #language-div {
  width: 100%;
  float: left;
  display: inline-flex;
  overflow: hidden;
}

.language-tab #language-div .col-lg-2 {
  float: left;
}

.language-tab .continue {
  font-size: 43px;
  margin-top: 2em;
  color: #fff;
  background-color: #0cb9f2;
  border-color: #0cb9f2;
  padding: 2px 45px 2px 45px;
}

.form-control.current {
  /* background: #0cb9f2; */
  background: #ffffff;
  color: #000;
  /* font-weight: 600; */
  border: 1px solid #0cb9f2 !important;
}

button.current {
  background-color: #0cb9f2;
  border-color: #0cb9f2;
}

#language-div .col-lg-2:hover {
  box-shadow: 0px 0px 13px 2px #0cb9f2;
}

.form-control:disabled {
  color: #e6e6e6;
}

.form-control:disabled {
  background-color: #545c5f;
  opacity: 1;
}

.form-control:disabled :hover {
  border: 0px solid #0cb9f2 !important;
}

.form-control:disabled,
.form-control[readonly]:hover {
  border: 0px solid #0cb9f2 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d900;
  border-color: #0062cc00;
}

#profileul li .current {
  color: #fff;
  background-color: #0cb9f2;
}

#buttonsec .current {
  color: #fff;
  background-color: #0cb9f2;
  border-color: #0cb9f2;
}

#prflsec .current {
  color: #fff;
  background-color: #0cb9f2;
  border-color: #0cb9f2;
}

.custom-msg {
  /* display: none; */
  position: fixed;
  top: 92%;
  left: 55%;
  width: 50%;
  line-height: 1em;
  margin: auto;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-align: center;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.075);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.075);
}

.buttonsec .btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0);
}
