.banner {
    padding: 94px 0;
}
.heading {
    font-size: 54px;
    font-weight: 600;
}
.text-muted {
    color: #c4c7ca!important;
}

.p-light {
    font-size: 1.43vw;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-light span {
    color: #eaeaea;
    font-size: 20px;
    font-weight: 600;
}
p {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.4;
}
.underline {
    text-decoration: underline !important;
}
.font-28 {
    font-size: 28px;
    font-weight: 500;
}
h3 {
    font-size: 26px;
    font-weight: 400;
}
.cast-big {
    margin: 0 100px;
}
.border-inside {
    border: 3px solid #4b4b4b;
    border-radius: 0px;
}
.heading-small-caps {
    text-transform: none;
    font-size: 35px;
    font-weight: 600;
    padding: 30px 0px 15px 0px;
    /* margin-left: -15px; */
}
.content-margin .w-20 {
    margin: 0% 1%;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 18%;
    height: auto;
}
.border-inside {
    border: 3px solid #4b4b4b;
    border-radius: 0px;
}
.w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
a {
    color: #0cb9f2;
    text-decoration: none;
}
.hmpageimg img {
    width: 100%;
    height: 255px;
}
.see-more {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    height: 29px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}
.modal-content {
    background: #313b40;
    border-radius: 0;
    z-index: 99999;
    padding-bottom: 25px;
}
.modal-header {
    background: #2d3539;
    padding: 15px 15px;
    border-bottom: 0px solid #dee2e6;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.cast-img {
    width: auto;
    height: 96px;
    float: left;
    margin-right: 30px;
}
.cast-img img {
    border: 2px solid #0cb9f2;
    border-radius: 50%;
}
.heading2 {
    font-size: 45px;
}
.title-bar {
    border-bottom: 2px solid #0cb9f2;
    width: 80px;
    margin-top: -8px;
    margin-bottom: 15px;
}
.text-muted {
    color: #c4c7ca!important;
}

.p-light {
    font-size: 1.43vw;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal-body {
    color: #bebebe;
    height: 200px;
    overflow: auto;
}

.modal-body {
    color: #bebebe;
    height: 600px;
    overflow: auto;
}
.current {
    color: #00c0ff !important;
}
.homepagecontent_div {
    width: 100%;
    float: left;
    display: inline-flex;
    overflow: hidden;
}
.cus-langdiv {
    background: #24323b;
    padding: 0px;
    margin: 11px 11px;
}
.cutom-card {
    width: 100%;
    height: 11em;
    overflow: hidden;
    border-radius: 10px;
}
.cutom-cardbody {
    flex: 1 1 auto;
    padding: 0;
}

.homepagecontent_div .cutom-cardbody img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.homepagecontent_div .col-lg-2.current {
    box-shadow: 0px 0px 8px 3px rgba(5, 203, 234, 0.64);
    /*transform: scale(1.1);*/
    z-index: 9999;
   /* border: 4px solid rgba(5, 203, 234, 0.64);*/
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.homepagecontent_div{
    padding: 0;
    margin-left: -10px;
}
#infoSection{
    padding: 0px;
}